<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingli.toms"
    android:versionCode="4"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <meta-data
        android:name="BDAPPID"
        android:value="8067241" />
    <meta-data
        android:name="BDAPPKEY"
        android:value="Q0bAC8QCCUVAjVp6mqZUOdvvc3RSDKvE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.baidu.appx.app_download.CompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.baidu.appx.uikit.BDActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".Titlectivity"
            android:label="@string/app_name"
            android:multiprocess="false"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="landscape" >

            <!-- android:theme="@style/bizhiTheme" -->
        </activity>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!--
             <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
             
            />
        -->
        <activity
            android:name=".Stagechoosser"
            android:label="@string/title_activity_stagechoosser" >
        </activity>
        <activity
            android:name="fileRW.FileActivity"
            android:icon="@drawable/icon"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="onlineStageActivity.OnlineFileActivity"
            android:label="@string/title_activity_file"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".BattleActivity"
            android:label="@string/title_activity_battle" android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>